.tag1 {
    font-size: 1.0em;
}

.tag2 {
    font-size: 1.2em;
}

.tag3 {
    font-size: 1.4em;
}

.tag4 {
    font-size: 1.6em;
}

.tag5 {
    font-size: 1.6em;
}

.tag6 {
    font-size: 1.8em;
}

.tag7 {
    font-size: 2.0em;
}

#tag_cloud {

    width: 400px;
    padding: 1em;
  }

  #tag_cloud tt {
    display: block;
    text-align: center;
    margin: .25em;
    padding-top: 0em;
    float: left;
  }
#chart_polls {

    min-height:300px;

}
#pie_chart{
    min-height:300px;

}
#map{

    height:400px;
    width:100%;
}

#map_legend{

    width:100%;
    margin-left:50%;

}
.f{


    font-size:14px;
font-weight: bold;
font-family:tahoma,arial,sans-serif;

}
.module   ul{

    list-style:none;
    display:block;


}

.module   ul li{

    float:left;

}
.module   ul li img{

    border:none;
    padding-left:15px;
    padding-right:15px;
    width:30px;
}
.qns{

margin: 0 auto;

}
#pie{
    width:100%;
}
div#visual{
    clear:both;
    width:100%;
    min-height:300px;
    margin-top:10px;
}

.module   ul li img.selected{

    background-color: #aad0d4;
    border:1px solid #8fbcc9;
}

.ajax_loading{
    background-image:url("../images/ajax-loader.gif");
    background-repeat:no-repeat;
    background-position: center center;

}