.poll_question {
    font-size: 8pt;
}

.tag1 {
    font-size: 1.2em;
}

.tag2 {
    font-size: 1.4em;
}

.tag3 {
    font-size: 1.8em;
}

.tag4 {
    font-size: 2.2em;
}

.tag5 {
    font-size: 2.6em;
}

.tag6 {
    font-size: 3.0em;
}

.tag7 {
    font-size: 3.4em;
}

#tag_cloud {

    width: 400px;
    padding: 1em;
  }

  #tag_cloud tt {
    display: block;
    text-align: center;
    margin: .25em;
    padding-top: 0em;
    float: left;
  }
#chart_polls {

    min-height:300px;

}
#pie_chart{
    min-height:300px;

}
#map{

    height:400px;
    width:100%;
}

#map_legend{
    width:100%;
}

.f{
    font-size:14px;
    font-weight: bold;
    font-family:tahoma,arial,sans-serif;
}

#tags a{
    color:#000000;
    padding:0;
}

#tags p>a{
    color: #aad0d4;
}

.qns{
    margin: 0 auto;
}

#pie{
    width:100%;
}

div#visual{
    clear:both;
    width:100%;
    min-height:300px;
    margin-top:10px;
}

.ajax_loading{
    background-image:url("../images/ajax-loader.gif");
    background-repeat:no-repeat;
    background-position: center center;
}

.delete-tag,.delete-tag-hover{
    background-image:url(../images/delete_tag.png);
    background-repeat:no-repeat;
    overflow:hidden;
    width:14px;
    height:14px;
    display:inline-block;
    vertical-align:top;
    margin-top:1px;
    padding:0px;
}

.delete-tag{
    background-position:0 -30px;
}

.default{
    background-position:0 -90px;
}

.delete-tag-hover {
    cursor:pointer;
    background-position:0 -4px;
}
