body{
	margin: 0;
    background-color: #d7f0fc;
    min-height:100%;
    font-family: Arial,sans-serif;
    font-size: 12px;
}

a {
	color:#00638a;
    text-decoration: none;
}

.container {
    width: 960px;
    margin: auto;
    padding: 0px;
}

.banner {
	position:relative;
	background: #33aaed url('../images/banner.png') no-repeat;
	width: 100%;
	height:91px;
	border-bottom: solid 3px #bbd8e7;
}
.banner a{
    text-decoration: none;
}

#span_info {
   border-bottom: 1px solid #BBD8E7;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    padding-bottom: 3px;
    width: 120px;


}
.signup
{
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}


#span_total {
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
}

.content {
    width:98%;
    padding: 12px;
}

.why-join{
    width:200px;
    padding: 5px 10px 10px;
    margin-left: auto;
    margin-right: auto;
}

div.why-placeholder {
    background:#fae6d9 url('../images/why_join.png') no-repeat right;
    height: 66px;
    margin-bottom: 2px;
    margin-top:5px;
}

div.why-placeholder span {
    font-size: 20px;
    padding-top: 10px;
    color:#07668c;
    width:85px;
    height:50px;
    margin-left:12px;
    display: block;
}

.why-join ul {
    margin-top: 0px;
    background-color: #fae6d9;
    padding: 30px;
}

.why-join ul li {
    list-style: square outside;
    padding-bottom: 2px;
    color: #07668c;
}

/*for the spanned text*/
.blacktext{
    color:black;
}

.brand {
    display:none;
}

.tagline {
	position:absolute;
	bottom: 2px;
	left: 21em;
	font-size: 8px;
	color: white;
}

.sidebar {
	width: 200px;
}

.nav-side ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: url("../images/drop_shadow.png") repeat-y;
    padding-left:15px;
}

.nav-side ul li{
    list-style-image:  url("../images/list_style.png");
    height: 27px;
    margin-left:20px;
    padding-top: 6px;
}

.nav-side ul li a{
    display: block;
    width: auto;
    color:#333;
    padding: 5px 0;
    text-decoration: none;
    cursor: pointer;
}

.nav-side ul li a:hover{
    border-bottom: 1px solid #f6eded;
}

.intro {
	font-size: 10px;
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 20px;
}

.join {
    padding-left: 30px;
    padding-bottom: 30px;
}

.quotebox {
    margin-left: 15px;

    height: auto;

    position: relative;
    padding: 10px;
     border: 1px solid #2b2b2b;
}

.title, .topquote {
    color: #FFFFFF;
}

.title {
    width: 70px;
    left:0;
    top:0;
}

.topquote {

	float:right;
	width: 90px;
    margin-top:-15px;

}
.quote_head{
    background: url('../images/quote_box_bg_top.png') 100% 102% no-repeat;
    width:180px;
    height:70px;
    background-color:#2b2b2b;
    color:#FFFFFF;
    padding: 2px;
    margin-left:-10px;
    margin-top:-10px;

}
.bottomquote {
	padding: 3px;
	height: auto;
	overflow: hidden;
    margin-bottom:3px;

    width:160px;


}

.quoted {
	margin-left: 2px;
	color: grey;
	font-size: 11px;
    margin-bottom: 5px;
}

.footer {
    clear: both;
    width: 100%;
}

.sponsors {
    height: 45px;
    background-color: #00aeef;
    color: white;
    height: 35px;
    margin-top: 20px;
    padding-left: 50px;
    padding-top: 10px;
}

.sponsors img {
    vertical-align:top;
    padding-left: 20px;
}

.footerlinks {
    text-align: center;
    background-color: #d7f0fc;
    color: grey;
}

.footerlinks ul {
    list-style: disc outside none;
}

.footerlinks ul li {
	display: inline;
}

.footerlinks ul li:before {
    content: " | ";
    color: black;
}

.footerlinks ul li.first:before {
    content: "";
}

.footerlinks ul, .footerlinks p {
    margin: 0;
}
.about_header{
    border-bottom: 2px solid #e3713a;
    padding-bottom: 0px;
}

.ab_img{
    position:relative;
    top:3px;
}
.about_title{
    font-weight:bold;
    font-size:17px;
}

.poll-heading {
    padding-left:70px;
    background: url('../images/header_logo.png') no-repeat;
    border-bottom: solid 1px #383838;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 10px;
    background-position: left bottom;
}

.about_subtitle {
    font-size:12px;
    color:#0e6c90;
    margin-bottom:10px;

}

.about_quoted{
    border-top: 2px solid #d7d7d7;
    border-bottom: 2px solid #d7d7d7;
     width:200px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
}

.about_quoted li {

    margin-left:25px;
    margin-top:8px;
}

.poll-title {
	margin-bottom:5px;
	margin-top:5px;
	font-size:14pt;
	color:#00638a;
}

.poll-date {
    color: #7d7d80;
    font-size: 14px;
}

.poll-question {
	margin-bottom:5px;
	margin-top:5px;
	font-size:16px;
	display: block;
	clear: left;
}

.scrolltop {
	background: url('../images/scroller_top.png') no-repeat;
	height: 35px;
	width: 720px;
}

.scrolltop span {
    color: white;
    display: block;
    font-size: 14pt;
    padding: 8px;
}

.poll_list {
	height:200px;
	overflow-y:scroll;
}

.poll_list ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.poll_list ul li {
    padding: 5px 5px 5px 10px;
    border-bottom: solid 1px black;
}

.scrollbottom {
	background: url('../images/scroller_bottom_noarrow.png') no-repeat;
    height: 35px;
    width: 720px;
}

.mapmodule {
    height: 400px;
}

#map_layers {
    position:relative;
}

.key {
    list-style-type: none;
    margin: 10px 0 0;
    width: 150px;
    padding-left: 0;
    position: absolute;
    left: 0px;
    z-index: 1;
}

.key li {
    padding: 2px;
}

.step{
    width:350px;
    height:300px;
    float:right;
    border-bottom: 1px solid #9b9b9b;
    margin-left:10px;
}

.step_name
{
    color:#000000;
}
.step_txt{
    color:#7dafc3;
    min-height: 42px;
}
.step img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}




#signup{
    margin-left:auto;
    margin-right:auto;
    width:400px;
}
#signup label
{
 padding-top: 6px;
  font-size: 13px;
  line-height: 18px;
  float: left;
  width: 130px;
  text-align: left;
  color: #404040;
}
#signup input,
#signup select {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;

}
#signup input{
  line-height: normal;
  *overflow: visible;
  font-size: 13px;

}
.olLayerGooglePoweredBy{
    display: none;


}
.nav-pills {
  *zoom: 1;
}
.nav{
  opacity: 1;
  filter: alpha(opacity=100);
}
.subnav a{
   opacity: 1;
  filter: alpha(opacity=100);
    list-style: none;
    text-decoration: none;
}
.nav-pills:before,
.nav-pills:after {
  display: table;
  content: "";
}

.nav-pills:after {
  clear: both;
}
.nav-pills > li {
  float: left;
    display: block;
}
.nav-pills > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
}
.nav > .open.active > a:hover {
  color: #ffffff;
  background-color: #999999;
  border-color: #999999;
}
.nav .open .caret,
.nav .open.active .caret,
.nav .open a:hover .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
  opacity: 1;
  filter: alpha(opacity=100);
}
.navbar .nav > li > a {
  float: none;
  padding: 10px 10px 11px;
  line-height: 19px;
  color: #999999;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar .nav > li > a:hover {
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
}
.navbar .nav .active > a,
.navbar .nav .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #222222;
}

/* Subnav */
.subnav {
  width: 100%;
  height: 36px;
    margin-bottom:10px;
  background-color: #eeeeee; /* Old browsers */
  background-repeat: repeat-x; /* Repeat the gradient */
  background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Chrome 10+,Safari 5.1+ */
  background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* IE10+ */
  background-image: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Opera 11.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
  background-image: linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* W3C */
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.subnav .nav {
  margin-bottom: 0;
}
.subnav .nav > li > a {
  margin: 0;
  padding-top:    11px;
  padding-bottom: 11px;
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #e5e5e5;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.subnav .nav > .active > a,
.subnav .nav > .active > a:hover {
  padding-left: 13px;
  color: #777;
  background-color: #e9e9e9;
  border-right-color: #ddd;
  border-left: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
     -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
          box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
}
.subnav .nav > .active > a .caret,
.subnav .nav > .active > a:hover .caret {
  border-top-color: #777;
}
.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {
  border-left: 0;
  padding-left: 12px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}
.subnav .nav > li:last-child > a {
  border-right: 0;
}
.subnav .dropdown-menu {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}
.subnav .nav > li:first-child > a,
  .subnav .nav > li:first-child > a:hover {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
  }


table.fc {
  border-collapse: collapse;
  border-spacing: 0;
}

table.fc,table.results {
  width: 100%;
  margin-bottom: 14px;
  padding: 0;
  font-size: 11px;
  border-collapse: collapse;
}
table th, table td {
  padding: 10px 10px 9px;
  line-height: 14px;
  text-align: left;
}
table th {
  padding-top: 9px;
  font-weight: bold;
  vertical-align: middle;
}
table.bordered td,table.results td {
  vertical-align: top;
  border-top: 1px solid #ddd;
}
table.bordered tbody th,table.results tbody th {
  border-top: 1px solid #ddd;
  vertical-align: top;
}

.zebra-striped tbody tr:nth-child(odd) td, .zebra-striped tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
.zebra-striped tbody tr:hover td, .zebra-striped tbody tr:hover th {
  background-color: #f2f2f2;
}
.results tbody tr:nth-child(odd) td, .results tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
.results tbody tr:hover td, .results tbody tr:hover th {
  background-color: #f2f2f2;
}


table.inline{
    display: inline;
    float:right;
}

.btn-primary {
  background-color: #0074cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0055cc);
  background-image: -ms-linear-gradient(top, #0088cc, #0055cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0055cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0055cc);
  background-image: -o-linear-gradient(top, #0088cc, #0055cc);
  background-image: linear-gradient(top, #0088cc, #0055cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);
  border-color: #0055cc #0055cc #003580;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #0055cc;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #004099;
}

.btn {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  *margin-left: .3em;
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  background-color: #e6e6e6;
}
.btn:active,
.btn.active {
  background-color: #cccccc \9;
}
.btn:first-child {
  *margin-left: 0;
}
.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn.active,
.btn:active {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  outline: 0;
}
.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  background-color: #e6e6e6;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-large {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.btn-large [class^="icon-"] {
  margin-top: 1px;
}

select[multiple] {
  height: inherit;
  background-color: #ffffff;
    width:210px;
    height:150px;


}

select{
   width: 210px;

  padding: 4px;
  font-size: 13px;
  line-height: 14px;
  color: #666666;
  border: 1px solid #d4dae8;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;

}
#span_select_everything {
    float:right;
    background-color:black;
    color:white;
    font-weight:bold;
    padding:2px;
}

.status_success {
    padding: 5px;
    margin: 5px;
    color: green;
    font-size: 10px;
    font-weight: bold;
    border: solid 1px #352;
    background-color: #9f7;
}

.status_error {
    padding: 5px;
    margin: 5px;
    color: red;
    font-size: 10px;
    font-weight: bold;
    border: solid 1px #532;
    background-color: #f97;
}
fieldset{

}

#div_results_loading {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background-image:url("../images/ajax-loader.gif");
    background-repeat:no-repeat;
    background-position: center center;
}

#div_panel_loading {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background-image:url("../images/ajax-loader.gif");
    background-repeat:no-repeat;
    background-position: center center;
}
.ajax_loading {
    background-image:url("../images/ajax-loader.gif");
    background-repeat:no-repeat;
    background-position: center center;
    z-index: 999999;
}