.filterform{
    display: inline;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
}
#div_filter_0{
    margin-left:0px;
}
#div_filter_0 input{
    width:130px;
}

#div_filter_0 label{
  
}
#div_filter_1{

    margin-left:250px;
}

#div_filter_2{
   margin-left:-50px;
    width:150px;
}
#div_filter_3{
    margin-left:600px;

}
#div_filter_4 input{
    width:100px;
}

#div_filter_4{
margin-top:-60px;
    margin-left:738px;
}
#div_action_3{
    position: relative;
    height:auto;
    margin-bottom:2px;
    display: block;
    margin-left: 500px;

}
#filters{
    min-height:100px;
}