body{
    font: 11px/165% "Trebuchet MS", 'Myriad Web',arial,noserif;
    color: black;
    line-height:18px;
}

div.module {
    margin-left:0px;
    border-style:none;
}

a {
    color: #00bfff;
}

a:visited {
    color: #144252;
}

#container{
    
    width:960px;
   margin-left: auto;
	margin-right: auto;
}
#header a {
    text-decoration: none;
    color: black;
}



.module-head
{
    padding-bottom:10px;
    margin: 20px 15px 15px 10px;
	background: #a9a9a9;
    width:510px;
    text-align:center;
    height:25px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;

}
.module{
    width:auto;
    height:auto;
    margin-left:10px;
    margin-top:800px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.module p{
    padding:8px;
}
#header a:hover {
    text-decoration: none;
}

#img_logo {
    border-style: none;
    margin:auto;
    padding-top:3px;
    padding-left:30px;
}

#span_tagline {
    position:relative;
    left:-50px;
    top: 5px;
    color: white;
    font-size:9pt;
    font-weight:bold;
    font-variant:small-caps;
}

#span_info {
    position:relative;
    color:white;
    font-size:12pt;
    font-weight:bold;
    font-variant:small-caps;
    top: 7px;
    float:right;
    padding-right:60px;
}



#auth {
    position:absolute;
    right:5px;
    top:5px;
    display:none;
}
#auth a{
    text-decoration:none;
    color:#fff;
    z-index:999;
}

#tabs {
-    list-style-type: none;
    float:left;
    margin-top:5px;
    margin-left:-30px;
    line-height: 15px;
    text-transform: uppercase;
    font-weight:bold;
}

.tab:first-child {
    display: inline;
    border-style: none;
    padding: 0;
}

.tab {
    display: inline;
    padding-left:5px;

}
#tabs a{
    text-decoration: none;
    color: #00bfff;
    padding: 5px 10px;
    margin-right: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;

}

#tabs a:hover{
    background: #696969;
    color: #fff;
    text-decoration: none;
    
}

#header {
    position:relative;
    font-family: noseriff;
    font-size: 8pt;
    color:black;
    border-bottom: 8px solid #a9a9a9;
    background-color: #696969;
    height:90px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;

}

div.module h3 {
	background: #a9a9a9;
    text-align:center;
    height:20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-weight:bold;
    font-size:110%;
    padding-top:10px;
    padding-bottom:0px;
    margin-bottom:15px;
}

#footer {
    font-family: noseriff;
    font-size: 6pt;
    color:#fff;
    float:right;
    background-color: #696969;
    width:100%;
    padding:5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin-top:10px;
}


/*
 *  CONTACT MANAGEMENT VIEW
 */





.results ul {
    list-style-type:none;
    margin:2px;
    padding:0;
}

.results li {
    padding:1px;
    font-size:6pt;
}

#id_reporting_location {
    width: 7em;
}

.filter_form_help {
    display:none;
}

.clear {	display:inline-block; }
.clear:after {
	display:block;
	visibility:hidden;
	clear:both;
	height:0;
}

.poll_question {
    font-size: 8pt;
}


#chart_polls {
    min-height:300px;
}

#pie_chart{
    min-height:300px;
}

.mapmodule {
    height:300px;
    width:100%;
}

#map {
    height:400px;
    width:100%;
}

#map_legend{
    width:100%;
}

.f{
    font-size:14px;
    font-weight: bold;
    font-family:tahoma,arial,sans-serif;
}



.qns{
    margin: 0 auto;
}

#pie{
    width:100%;
}

div#visual{
    clear:both;
    width:100%;
    min-height:300px;
    margin-top:10px;
}

#div_panel_loading{
    background-image:url("../images/ajax-loader.gif");
    background-repeat:no-repeat;
    background-position: center center;
}



#columns #column0 {
    float: left;
    width: 28%;
    min-height: 400px;
    height: auto !important;
    height: 400px;
    clear:left;
}

#columns #column1 {
    float: right;
    width: 68%;
    min-height: 400px;
    height: auto !important;
    height: 400px;
}

#columns #column0 .widget {
    margin: 0px 0px 0px 0px;
    padding: 2px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

}

#columns #column1 .widget {
    margin: 0px 0px 0 0;
    padding: 2px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

}

span.message_history_contact{
    font-size:1em;
    color:red;
    font-weight:bold;
}

span.message_history_stats{
    font-size:12px;
    color:#666;
    font-weight:bold;
    line-height:1.4em;
}

div.message_history_small{
    font-size:11px;
    color:#666;
    padding:0 0 0 20px;
}

div.message_history_small p{
    padding:5px;
    margin:0 0 0 20px;
    background:#e6e6e6;
}

div.message_history_small p.message_history_basemessage{
    padding:0px;
    margin:0 0 0 22px;
    background:#ffffff;
}

span.message_history_outgoing{
    color:green;
    font-size:14px;
}

span.message_history_incoming{
    color:blue;
}

span.message_history_date{
    float:right;
    font-size:11px;
    color:#666;
}

div.message_history_replyForm{
    padding-top:5px;
    margin:0 0 0 20px;
}

div.message_history_replyForm tr{
    padding:5px;
    margin:0 0 0 20px;
    background:#e6e6e6;
}

span.message_history_replies{
    color:green;
    font-size:11px;
    padding:0 0 0 15px;
}

label    { font-weight: bold;
}
input[type=text],
textarea {
  background-color:#fff;
  border:1px solid #bbb;
  color:#000;

}
input[type=text]:focus,
textarea:focus {
  border-color:#666;
}

select {
  margin:0.5em 0;
}

.nav-pills {
  *zoom: 1;
}
