body{
    font: 11px/165% "Trebuchet MS", 'Myriad Web',arial,noserif;
    color: black;
    line-height:18px;
}

div.module {
    margin-left:0px;
    border-style:none;
}

a {
    color: #00bfff;
    text-decoration: none;
}

a:visited {
    color: #144252;
}

#container{
    
    width:960px;
   margin-left: auto;
	margin-right: auto;
}
#header a {
    text-decoration: none;
    color: black;
}



.module-head
{
    padding-bottom:10px;
    margin: 20px 15px 15px 10px;
	background: #a9a9a9;
    width:510px;
    text-align:center;
    height:25px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;

}
.module{
    width:auto;
    height:auto;
    margin-left:10px;
    margin-top:800px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.module p{
    padding:8px;
}
#header a:hover {
    text-decoration: none;
}

#img_logo {
    border-style: none;
    margin:auto;
    padding-top:3px;
    padding-left:30px;
}

#span_tagline {
    position:relative;
    left:-50px;
    top: 5px;
    color: white;
    font-size:9pt;
    font-weight:bold;
    font-variant:small-caps;
}

#span_info {
    position:relative;
    color:white;
    font-size:12pt;
    font-weight:bold;
    font-variant:small-caps;
    top: 7px;
    float:right;
    padding-right:60px;
}



#auth {
    position:absolute;
    right:5px;
    top:5px;
    display:none;
}
#auth a{
    text-decoration:none;
    color:#fff;
    z-index:999;
}

#tabs {
-    list-style-type: none;
    float:left;
    margin-top:5px;
    margin-left:-30px;
    line-height: 15px;
    text-transform: uppercase;
    font-weight:bold;
}

.tab:first-child {
    display: inline;
    border-style: none;
    padding: 0;
}

.tab {
    display: inline;
    padding-left:5px;

}
#tabs a{
    text-decoration: none;
    color: #00bfff;
    padding: 5px 10px;
    margin-right: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;

}

#tabs a:hover{
    background: #696969;
    color: #fff;
    text-decoration: none;
    
}

#header {
    position:relative;
    font-family: noseriff;
    font-size: 8pt;
    color:black;
    border-bottom: 8px solid #a9a9a9;
    background-color: #696969;
    height:90px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;

}

div.module h3 {
	background: #a9a9a9;
    text-align:center;
    height:20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-weight:bold;
    font-size:110%;
    padding-top:10px;
    padding-bottom:0px;
    margin-bottom:15px;
}

#footer {
    font-family: noseriff;
    font-size: 6pt;
    color:#fff;
    float:right;
    background-color: #696969;
    width:100%;
    padding:5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin-top:10px;
}


/*
 *  CONTACT MANAGEMENT VIEW
 */





.results ul {
    list-style-type:none;
    margin:2px;
    padding:0;
}

.results li {
    padding:1px;
    font-size:6pt;
}

#id_reporting_location {
    width: 7em;
}

.filter_form_help {
    display:none;
}

.clear {	display:inline-block; }
.clear:after {
	display:block;
	visibility:hidden;
	clear:both;
	height:0;
}

.poll_question {
    font-size: 8pt;
}


#chart_polls {
    min-height:300px;
}

#pie_chart{
    min-height:300px;
}

.mapmodule {
    height:300px;
    width:100%;
}

#map {
    height:400px;
    width:100%;
}

#map_legend{
    width:100%;
}

.f{
    font-size:14px;
    font-weight: bold;
    font-family:tahoma,arial,sans-serif;
}



.qns{
    margin: 0 auto;
}

#pie{
    width:100%;
}

div#visual{
    clear:both;
    width:100%;
    min-height:300px;
    margin-top:10px;
}





#columns #column0 {
    float: left;
    width: 28%;
    min-height: 400px;
    height: auto !important;
    height: 400px;
    clear:left;
}

#columns #column1 {
    float: right;
    width: 68%;
    min-height: 400px;
    height: auto !important;
    height: 400px;
}

#columns #column0 .widget {
    margin: 0px 0px 0px 0px;
    padding: 2px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

}

#columns #column1 .widget {
    margin: 0px 0px 0 0;
    padding: 2px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

}

span.message_history_contact{
    font-size:1em;
    color:red;
    font-weight:bold;
}

span.message_history_stats{
    font-size:12px;
    color:#666;
    font-weight:bold;
    line-height:1.4em;
}

div.message_history_small{
    font-size:11px;
    color:#666;
    padding:0 0 0 20px;
}

div.message_history_small p{
    padding:5px;
    margin:0 0 0 20px;
    background:#e6e6e6;
}

div.message_history_small p.message_history_basemessage{
    padding:0px;
    margin:0 0 0 22px;
    background:#ffffff;
}

span.message_history_outgoing{
    color:green;
    font-size:14px;
}

span.message_history_incoming{
    color:blue;
}

span.message_history_date{
    float:right;
    font-size:11px;
    color:#666;
}

div.message_history_replyForm{
    padding-top:5px;
    margin:0 0 0 20px;
}

div.message_history_replyForm tr{
    padding:5px;
    margin:0 0 0 20px;
    background:#e6e6e6;
}

span.message_history_replies{
    color:green;
    font-size:11px;
    padding:0 0 0 15px;
}

label    { font-weight: bold;
}
input[type=text],
textarea {
  background-color:#fff;
  border:1px solid #bbb;
  color:#000;

}
input[type=text]:focus,
textarea:focus {
  border-color:#666;
}

select {
  margin:0.5em 0;
}

.nav-pills {
  *zoom: 1;
}

.dropdown {
  position: relative;
}
.dropdown-toggle {
  *margin-bottom: -3px;
}
.dropdown-toggle:active,
.open .dropdown-toggle {
  outline: 0;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000000;
  opacity: 0.3;
  filter: alpha(opacity=30);
  content: "";
}
.dropdown .caret {
  margin-top: 8px;
  margin-left: 2px;
}
.dropdown:hover .caret,
.open.dropdown .caret {
  opacity: 1;
  filter: alpha(opacity=100);
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  padding: 4px 0;
  margin: 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 8px 1px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
  *width: 100%;
  *margin: -5px 0 5px;
}
.dropdown-menu a {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #333333;
  white-space: nowrap;
}
.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
}
.dropdown.open {
  *z-index: 1000;
}
.dropdown.open .dropdown-toggle {
  color: #ffffff;
  background: #ccc;
  background: rgba(0, 0, 0, 0.3);
}
.dropdown.open .dropdown-menu {
  display: block;
}
.pull-right .dropdown-menu {
  left: auto;
  right: 0;
}
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px solid #000000;
  content: "\2191";
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}

.nav-tabs,
.nav-pills {
  *zoom: 1;
}
.nav-tabs:before,
.nav-pills:before,
.nav-tabs:after,
.nav-pills:after {
  display: table;
  content: "";
}
.nav-tabs:after,
.nav-pills:after {
  clear: both;
}
.nav-tabs > li,
.nav-pills > li {
  float: left;
}
.nav a{
    text-decoration: none;
}
.nav-tabs > li > a,
.nav-pills > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
}
.nav-tabs {
  border-bottom: 1px solid #ddd;
}
.nav-tabs > li {
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 18px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}
.tab-content {
  display: table;
  width: 100%;
}
.tabs-below .nav-tabs,
.tabs-right .nav-tabs,
.tabs-left .nav-tabs {
  border-bottom: 0;
}
.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}
.tab-content > .active,
.pill-content > .active {
  display: block;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}
.nav {
  margin-left: 0;
  margin-bottom: 18px;
  list-style: none;
}
.nav > li > a {
  display: block;
}
.nav > li > a:hover {
  text-decoration: none;
  background-color: #eeeeee;
}
.nav .nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}
.nav li + .nav-header {
  margin-top: 9px;
}
ul,
ol {
  padding: 0;
  margin: 0 0 9px 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li {
  line-height: 18px;
}

