.topbar .custom_fill_left
{
    background-color: #0098d1;
  background-color: #0098d1;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#0098d1), to(#0098d1));
  background-image: -moz-linear-gradient(top, #0098d1, #0098d1);
  background-image: -ms-linear-gradient(top, #0098d1, #0098d1);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #222222));
  background-image: -webkit-linear-gradient(top, #0098d1, #0098d1);
  background-image: -o-linear-gradient(top, #0098d1, #0098d1);
  background-image: linear-gradient(top, #0098d1, #0098d1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0098d1', endColorstr='#0098d1', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
   
    

}

.topbar .custom_fill_right
{
    background-color: #00aeef;
  background-color: #00aeef;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#00aeef), to(#00aeef));
  background-image: -moz-linear-gradient(top, #00aeef, #00aeef);
  background-image: -ms-linear-gradient(top, #00aeef, #00aeef);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #222222));
  background-image: -webkit-linear-gradient(top, #00aeef, #00aeef);
  background-image: -o-linear-gradient(top, #00aeef, #00aeef);
  background-image: linear-gradient(top, #00aeef, #00aeef);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00aeef', endColorstr='#00aeef', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    
}

body{
    
    background-color: #d7f0fc;
    min-height:100%;

}

nav.nav-side li{
    list-style: none;
}

header img{
    margin-left: 10px;
}

.sidebar{
}

div.intro{
    padding: 15px;
}
div.join{
    padding: 10px;
}
.nav-side ul{
list-style-type: none;
margin: 0;
padding: 0;
width: 220px; /* width of menu */
}
.colorize{
    color: #a0dcf7;
}

.nav-side ul li{
    list-style-image:  url("../images/signal.png");
    margin-left:20px;
}
.nav-side ul li a{

    display: block;
    width: auto;
    color:#333;

    padding: 5px 0; /* Vertical (top/bottom) padding for each menu link */
    text-indent: 8px;
    text-decoration: none;
    cursor: pointer;
}

.nav-side ul li a:hover{
    border-bottom: 1px solid #f6eded; /*bottom border of menu link during hover. Should be equal or darker to link's hover's bgcolor*/
}

footer{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
table td{

}



