#header a {
    text-decoration: none;
    color: black;
}

#header a:hover {
    text-decoration: underline;
}

#img_logo {
    border-style: none;
}

#span_tagline {
    position:relative;
    left:-100px;
    bottom: 0px;
}

#auth {
    position:absolute;
    right:5px;
    top:5px;   
}

#tabs {
    list-style-type: none;
    position:absolute;
    right: 5px;
    bottom: 0px;
    margin: 0px;
}

.tab:first-child {
    display: inline;
    border-style: none;
    padding: 0;
}

.tab {
    display: inline;
    padding-left:5px;
    border-left: solid 1px black;
}

#header {
    position:relative;
    font-family: noseriff;
    font-size: 8pt;
    color:black;
    border-bottom: 8px solid #144252;
    background-color: #33A7D2;
}

div.module h3 {
    font-size: 80%;
    background-image: none;
    background-color: #94D149;
}

#footer {
    font-family: noseriff;
    font-size: 6pt;
    color:black;
    float:right;    
}

/*
 *  CONTACT MANAGEMENT VIEW
 */
#id_groups {
   height: 5em;
   width: 7em;
   fonts-size:6pt;
}

#filters {
    height: 7em;
}

#div_filter_0 {
   position:absolute;
   left:0;
   top: 3em;
}

#div_filter_1 {
   position:absolute;
   left:0;
   top:5.5em;
}

#div_filter_2 {
   position:absolute;
   left:50%;
   top:3em;
}

#div_filter_update {
    float:right;
    position:absolute;
    right: 0;
    bottom: 0;
}

#div_filter_clear {
    float:right;
    position:absolute;
    right: 0;
    top: 3em;
}

#actions {
    height: 10em;
}

#div_action_0 {
    position:absolute;
    left:0;
    top: 3em;
}

#div_action_1 {
    position:absolute;
    left: 33%;
    top: 3em;
}

#div_action_2 {
    position:absolute;
    right: 0;
    top: 9em;
}

.results ul {
    list-style-type:none;
    margin:2px;
    padding:0;
}

.results li {
    padding:1px;
    font-size:6pt;
}

#id_reporting_location {
    width: 7em;
}

.filter_form_help {
    display:none;
}

.clear {	display:inline-block; }
.clear:after {
	display:block;
	visibility:hidden;
	clear:both;
	height:0;
	content: ".";
}